---
layout: default
---
<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date" style="color: #999; font-size: 0.9rem;">
    {{ page.date | date: "%B %-d, %Y" }}
  </time>
  
  <div class="post-content" style="margin-top: 30px; line-height: 1.8;">
    {{ content }}
  </div>
</article>

<div class="related" style="margin-top: 50px; border-top: 1px solid #eee; padding-top: 20px;">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date: "%B %-d, %Y" }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>